/*-------------------------------------- apple-logo --------------------------------------------------------------*/
#bar_top .apple-logo{
    display: block;
    cursor: pointer;
    width: 21px;
    height: 21px;
    line-height: 21px;
    padding: 0 3px;
    background: url("../images/apple-logo.png") top 0px left 3px no-repeat;
}
#bar_top .apple-logo:hover{
    background: url("../images/apple-logo.png") top -21px left 3px no-repeat;
}
/*------------------------------------- osx ToolBar screen thumbnail ----------------------------------------------*/
#bar_top li.screenThumbnailTd{
    position: absolute; right: 0px; top: 0px;
}

/*------------------------------------- osx ToolBar And Menu----------------------------------------------*/
#bar_top{
    position: absolute !important;
    font-weight: bold;
    padding: 0px;
    left: 0;
    right: 0;
    z-index: 2000;
}

#bar_top {
    background: url(../images/win-title-bg.jpg) repeat-x;
    color: #999;
    text-shadow: #fff 0 1px 1px;
    height: 21px;
    line-height: 21px;
    top: 0;
}

#bar_top ul{
    float: left;
}

#bar_top li{
    float: left;
}

/* `Bar >> Links >> sub bar
----------------------------------------------------------------------------------------------------*/
#bar_top li a{
    display: block;
    padding: 0 5px;
}

#bar_top li a {
    background-image: url(../images/bar_top_link.png);
    background-repeat: no-repeat;
    background-position: -99999px -99999px;
    color: #000;
    overflow: hidden;
    height: 21px;
    min-height: 1px;
}

#bar_top a:hover{
    color: #FFF;
    background-color: #06c;
    text-shadow: none;
}

#bar_top a.active {
    background-color: #06c;
    background-position: 0 0;
    background-repeat: repeat-x;
    color: #fff;
    text-shadow: none;
}

#bar_top ul.menu {
    background: #eee;
    border: 1px solid #333;
    border-top-width: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-background-clip: padding-box;
    display: none;
    font-weight: normal;
    margin: 0px 0 0 -1px;
    padding: 0px 1px 0;
    position: absolute;
    min-width: 200px;
}

#bar_top ul.menu li {
    float: none;
}

#bar_top ul.menu a {
    background: #fff;
    border-bottom: 1px solid #eee;
    min-width: 180px;
}

#bar_top ul.menu li:last-child a {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-background-clip: padding-box;
}

#bar_top ul.menu a:hover {
    background: #06c url(../images/bar_top_link.png) repeat-x;
    color: #fff;
    text-shadow: none;
}

/* `Bar >> task
----------------------------------------------------------------------------------------------------*/
#bar_top li.task{
    border-left: 1px solid #333;
    height: 21px;
    line-height: 21px;
    overflow: hidden;
}

#bar_top li.task span{
    margin: 3px;
    cursor: pointer;
    font-weight: normal;
}
