/*------------------------------------- osx ToolBar And Menu----------------------------------------------*/
.abs {
    position: absolute !important;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    z-index: 2000;
}



/* `Bar >> Top + Bottom
----------------------------------------------------------------------------------------------------*/

#bar_top{
    font-weight: bold;
    padding: 0 10px;
    left: 0;
    right: 0;
}

#bar_top {
    background: url(../images/toolBar_background.jpg) repeat-x;
    border-bottom: 1px solid #333;
    color: #999;
    line-height: 21px;
    padding-right: 20px;
    text-shadow: #fff 0 1px 1px;
    height: 21px;
    top: 0;
}

/* `Bar >> Links
----------------------------------------------------------------------------------------------------*/

#bar_top li{
    float: left;
}

#bar_top li a{
    display: block;
    padding: 0 10px;
}

#bar_top li a {
    background-image: url(../images/bar_top_link.png);
    background-repeat: no-repeat;
    background-position: -99999px -99999px;
    color: #000;
    overflow: hidden;
    height: 21px;
    min-height: 1px;
}

#bar_top a.active {
    background-color: #06c;
    background-position: 0 0;
    background-repeat: repeat-x;
    color: #fff;
    text-shadow: none;
}

#bar_top ul.menu {
    background: #eee;
    border: 1px solid #333;
    border-top-width: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-background-clip: padding-box;
    display: none;
    font-weight: normal;
    margin: 1px 0 0 -1px;
    padding: 1px 1px 0;
    position: absolute;
    min-width: 200px;
    z-index: 30;
}

#bar_top ul.menu li {
    float: none;
}

#bar_top ul.menu a {
    background: #fff;
    border-bottom: 1px solid #eee;
    min-width: 180px;
}

#bar_top ul.menu li:last-child a {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-background-clip: padding-box;
}

#bar_top ul.menu a:hover {
    background: #06c url(../images/bar_top_link.png) repeat-x;
    color: #fff;
    text-shadow: none;
}

#bar_top li.task span{
    margin: 3px;
    cursor: pointer;
    font-weight: normal;
}